
.myNavBar{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.topNav{
    padding: 20px 10%;
    display: flex;
}

.topNav ul{
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.topNav ul li{
    list-style: none;
    padding-right: 20px;
    border-right: solid red 1px ;
    align-items: center;
    display: flex;
    gap: 8px;
    font-size: 12px;
}


.bottomNav{
    display: flex;
    align-items: center;
    padding: 0 20px;
    padding-right: 0;
    /* background-color: rgb(255, 255, 255); */
    margin-top: 20px;
    border-radius: 10px;
    margin: 20px 10%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


.bottomNavRight{
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

.bottomNav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}


.bottomNav ul li{
    list-style: none;
    cursor: pointer;
}


.blogDrop{
    position: relative;
}

.blogDropDown{
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    display: none;
}

.blogDrop:hover .blogDropDown{
    display: block;
}

.blogDropDown p{
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: solid 1px rgb(236, 236, 236);
}

.blogDropDown p:hover{
    padding-left: 10px;
    color: rgb(8, 95, 8);
    transition: all ease-in-out 0.3s;
}






.blogDrop2{
    position: relative;
}

.blogDropDown2{
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    display: none;
}

.blogDrop2:hover .blogDropDown2{
    display: block;
}

.blogDropDown2 p{
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: solid 1px rgb(236, 236, 236);
}

.blogDropDown2 p:hover{
    padding-left: 10px;
    color: rgb(8, 95, 8);
    transition: all ease-in-out 0.3s;
}
.bottomNavIcons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.bottomNavContact{
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu{
    background-color: orange;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 0  10px 10px 0;
    cursor: pointer;
}



/* =========== Side Bar ============== */

.sideBar{
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    z-index: 100;
}


.closeDiv{
    display: flex;
    align-items: center;
}

.closeDiv p{
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}


.aboutDiv .myP{
    padding-top: 20px;
    font-size: 13px;
}

.aboutDiv button{
    margin: 20px 0;
    background-color: rgb(65, 157, 65);
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 5px;
}


.contactDiv{
    padding-top: 30px;
}

.contactP{
    color: rgb(65, 157, 65);
    font-size: 13px;
}

.iconDiv{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}


.iconDiv p{
    color: orange;
    cursor: pointer;
}


.pointer{
    position: fixed;
    top: 90vh;
    right: 40px;
    font-size: 20px;
}


.menu2{
    display: none;
}


@media only screen and (min-width:320px) and (max-width:768px){
    .topNav{
        display: none;
    }

    .bottomNav{
        margin: 0;
    }

    .bottomNavRight{
        display: none;
    }

    .menu2{
        display: block;
        margin-left: auto;
        padding: 20px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
    }


    .logo{
        width: 150px;
        height: 30px;
    }

}